* {
    padding: 0;
    margin-bottom: 0;
    box-sizing: 0;

}

.container {
    display: grid;
    grid-template-columns: repeat(5, 1fr); /* 2 colunas de tamanho igual*/
    grid-template-rows:repeat(5, 100px); /* 5 linhas de 100px cada*/
}

.item-1 {
    background-color: bisque;
     grid-template-columns: repeat(5, 1fr); /* 2 colunas de tamanho igual*/
    grid-template-rows:repeat(5, 100px); /* 5 linhas de 100px cada*/
}
}

.item-2 {
    background-color: rgb(222, 196, 255);
    grid-template-columns: repeat(5, 1fr); /* 2 colunas de tamanho igual*/
    grid-template-rows:repeat(5, 100px); /* 5 linhas de 100px cada*/
}

}

.item-3 {
    background-color: rgb(145, 93, 30);
    grid-template-columns: repeat(5, 1fr); /* 2 colunas de tamanho igual*/
    grid-template-rows:repeat(5, 100px); /* 5 linhas de 100px cada*/

}