* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: blue;
}
@media screen and (max-width:768px){
    body {
        background-color: rgb(145, 105, 255);
    }
}